name: Run Go Tests

on:
  push:
    branches: [ "**" ]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'
          cache: true
          cache-dependency-path: |
            **/go.sum
            **/go.mod

      - name: Verify dependencies
        run: go mod verify

      - name: Run tests
        run: go test ./... -v -race -count=1
